<h2>Profile</h2>

<form action="/create_users">
  <input type="text" name="name" placeholder="name">
  <input type="text" name="email" placeholder="email">
  <input type="submit">
  <a href="/user/<%= @gif.id %>/edit">edit</a>
  <a href="/user/<%= @gif.id %>/destroy">delete</a>
     
</form>